ul{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 60vw;
    padding: 0;
    margin-left: 20vw;
    font-size: 1.5rem;

}
li{
    list-style: none;
    
    /* width: 30vw; */
}

button{
    padding: 20px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(32, 182, 187);
    width: 50%;
    margin: 10px 25% 40px 25%;
    font-size: 1rem;
}

input{
    width: 50%;
    margin: 10px 25% 10px 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    background-color: lightgray;
    border: none;
}

h2{
    font-size: 1.6rem;
}

h1{
    font-size: 2rem;
}

span{
    width: 100%;
    font-size: 20px;
    display: block;
    margin-top: 10px;
    color: tomato;
}